<h2>Best teams</h2>
<table class="table table-bordered">
  <tr>
    <th>Rank</th>
    <th>Name</th>
    <th>City</th>
    <th>Games played</th>
    <th>Games won</th>
    <th>Games lost</th>
    <th>Win/Lost difference</th>
    <th>Win percentage</th>
  </tr>

  <% Team.all.order(games_won: :desc).order(games_lost: :asc).each_with_index do |team,index| %>
    <tr>
      <td><%= index +1 %></td>
      <td><%= team.name %></td>
      <td><%= team.city %></td>
      <td><%= team.games_won+team.games_lost %></td>
      <td><%= team.games_won %></td>
      <td><%= team.games_lost %></td>
      <td><%= team.games_won-team.games_lost %></td>
      <td><%= (team.games_won.to_f/(team.games_won+team.games_lost)*100).to_i %>%</td>
    </tr>
  <% end %>
</table>
