<table>
  <tr>
    <th>Position</th>
    <th>Name</th>
    <th>Games played</th>
    <th>Sets won</th>
    <th>Sets lost</th>
    <th>Sets difference</th>
    <th>Points</th>
  </tr>

    <% Result.all.where(tournament_id: @tournament.id).order(points: :desc).order(sets_difference: :desc).each_with_index do |result,index| %>
      <tr>
        <td><%= index +1 %></td>
        <td><%= result.team.name %></td>
        <td><%= result.games_played %></td>
        <td><%= result.sets_won %></td>
        <td><%= result.sets_lost %></td>
        <td><%= result.sets_difference %></td>
        <td><%= result.points %></td>
      </tr>
    <% end %>
  </table>
