<h2>Edit tournament</h2>

<% if @tournament.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@tournament.errors.count, "error") %> prohibited
      this tournament from being saved:
    </h2>

    <ul>
      <% @tournament.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @tournament do |f| %>
<p>
<%= f.label :name %><br>
<%= f.text_field :name %>
</p>
<p>
<%= f.label :city %><br>
<%= f.text_area :city %>
</p>
<p>
<%= f.label :start_date %><br>
<%= f.date_select :start_date, :start_year=>2010,:end_year=>2020 %>
</p>
<p>
<%= f.label :end_date %><br>
<%= f.date_select :end_date, :start_year=>2010,:end_year=>2020 %>
</p>
<% if @tournament.status == "Not_started" %>
  <p>
  <%= f.label :end_date %><br>
  <%= f.collection_select(:team_ids, Team.all, :id, :name, {:prompt => "Please select teams"}, {:multiple => true}) %>
  </p>
  <p>
<% end %>
<%= f.submit %>
</p>
<% end %>

<%= link_to "Go back", tournaments_path %>
