<%= link_to "Check all teams", teams_path %>
<h1>All tournaments</h1>
<%= link_to "Create new tournament", new_tournament_path %>
<p></p>

<table>
  <tr>
    <th>Name</th>
    <th>City</th>
    <th>Start_date</th>
    <th>End_date</th>
  </tr>

  <% @tournaments.each do |tournament| %>

    <tr>
      <td><%= tournament.name %>&nbsp&nbsp</td>
      <td><%= tournament.city %>&nbsp&nbsp</td>
      <td><%= tournament.start_date %>&nbsp&nbsp</td>
      <td><%= tournament.end_date %></td>
      <td>&nbsp&nbsp&nbsp<%= link_to 'Show', tournament_path(tournament) %>&nbsp|&nbsp</td>
      <% if user_signed_in? %>
      <td><%= link_to 'Edit', edit_tournament_path(tournament.id) %>&nbsp|&nbsp</td>
      <td><%= link_to 'Delete', tournament_path(tournament.id),
                                method: :delete,
                                data: {confirm: "Are you sure?"}%>&nbsp</td>
      <% end %>
    </tr>
  <% end %>
</table>
