<!-- <%= link_to "Check all teams", teams_path %> -->
<h1>All tournaments</h1>
<%= link_to "Create new tournament", new_tournament_path %>

<%= form_tag tournaments_path, :method => 'get', :id => "tournaments_search" do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
  <div id="tournaments"><%= render 'tournaments' %></div>
<% end %>
