<p>
  <strong>Name:</strong>
  <%= @tournament.name %>
</p>
<p>
  <strong>City:</strong>
  <%= @tournament.city %>
</p>
<p>
  <strong>Start_date:</strong>
  <%= @tournament.start_date %>
</p>
<p>
  <strong>End_date:</strong>
  <%= @tournament.end_date %>
</p>
<p>
  <strong>Participating teams:</strong>
  <% @tournament.teams.each do |team| %>
    <%= team.name%>
      <% if team != @tournament.teams.last %>
      <%= ", " %>
      <% end %>
  <% end %>
</p>

<% if (@tournament.status == "Not_started" && @tournament.teams.count > 1)%>
  <%= link_to "Start tournament", start_tournament_path, method: "post" %><p></p>
<% end %>

<% if @tournament.status == "Started" %>
  <%= link_to "Add match", new_tournament_match_path(@tournament.id) %><p></p>
<% end %>

<% if @tournament.status == "Finished" %>
  <h2>Table</h2>
  <%= render "table" %>
<% end %>

<% if @tournament.matches.count != 0 %>
  <h2>Matches played</h2>
  <%= render @tournament.matches.order(created_at: :asc) %>
<% end %>

<%= link_to "Go back", tournaments_path %>
