<p>
  <strong>Name:</strong>
  <%= @tournament.name %>
</p>
<p>
  <strong>City:</strong>
  <%= @tournament.city %>
</p>
<p>
  <strong>Start_date:</strong>
  <%= @tournament.start_date %>
</p>
<p>
  <strong>Start_date:</strong>
  <%= @tournament.start_date %>
</p>

<%= link_to "Go back", tournaments_path %>
